<article class="label {{ ids|join(' ') }} format-180g">
    <header>
        <h1 style="background-image: url({{ asset(org.logo.src) }});">
            {{ org.title }}
        </h1>

        <h2>{{ org.slogan }}</h2>
    </header>

    <main>
        <h1>{{ title }}</h1>
        <h2>{{ ids.1|capitalize }}</h2>
        <p class="weight">{{ 'Poids net :'|trans }} {{ weight }}</p>
    </main>

    {% include 'elements/ingredients.html.twig' %}
</article>