{% extends 'base.html.twig' %}

{% block body_class %}container-label{% endblock %}

{% block body %}
    <!-- The label itself -->
    {{ include(label.templateName, {label}, with_context = false, sandboxed = true) }}

    <!-- Menu to navigate through the available labels -->
    <nav id="labels">
        <h1>{{ 'Labels'|trans }}</h1>
        <ul>
            {% for label in labels %}
                <li>
                    <a href="/label/{{ label.id }}">{{ label.id }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>

    <!-- Menu to print the current label on a page -->
    <nav id="pages">
        <h1>{{ 'Print on'|trans }}</h1>
        <ul>
            {% for page in label.printableOn %}
                <li>
                    <a href="/page/{{ page }}/{{ label.id }}">{{ page }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}
