{% set org = label.org %}
{% set headerImg = headerImg ?? org.logo ?? null %}
{% set mainImg = mainImg ?? label.logo ?? null %}

<article class="{{ label.parentId }} {{ label.id }} {{ label.cssClasses }}">
    <header>
        <h1 {% if headerImg %}style="background-image: url({{ asset(headerImg) }});"{% endif %}>
            {{ org.title }}
        </h1>

        <h2>{{ org.slogan }}</h2>
    </header>

    <main>
        {% if mainImg %}
            <img src="{{ asset(mainImg) }}" />
        {% endif %}

        <h1>{{ label.title }}</h1>

        {% if label.subTitle %}
            <h2 {% if label.subTitle|length > 20 %}class="long"{% endif %}>
                {{ label.subTitle }}
            </h2>
        {% endif %}
    </main>

    <aside>
        <section class="address">{{ org.address }}</section>

        {{ include(
            'label/element/ingredients.html.twig',
            {ingredients: label.ingredients},
            with_context = false
        ) }}

        {{ include('label/element/quantity.html.twig') }}
    </aside>

    <footer>
        {{ include('label/element/certifications.html.twig') }}
        {{ include('label/element/qrcode.html.twig') }}
    </footer>
</article>