<article class="{{ label.cssClasses }}">
    <header>
        <h1 style="background-image: url({{ asset(org.logo.src) }});">
            {{ org.title }}
        </h1>

        <h2>{{ org.slogan }}</h2>
    </header>

    <main>
        <h1>{{ label.title }}</h1>

        {% if label.subTitle %}
            <h2 {% if label.subTitle|length > 15 %}class="long"{% endif %}>
                {{ label.subTitle }}
            </h2>
        {% endif %}
    </main>

    <aside>
        <section class="address">{{ org.address }}</section>

        {{ include(
            'label/element/ingredients.html.twig',
            {ingredients: label.ingredients},
            with_context = false
        ) }}

        <section class="weight">{{ 'Poids net :'|trans }} {{ label.weight }}</section>
    </aside>
</article>